*{
    margin: 0px;
    padding: 0px;

}


html {
    scroll-behavior: smooth;
  }


body {
    background-image: url('../Image/image4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }


  .sidebar{
    background-color: rgba(235, 240, 240, 0.887);
    height: auto;
    width: 70%;
    font-family: sans-serif;
    color: rgb(12, 12, 12);
}

.submit{
    background: linear-gradient(99deg,#0c282c 0%, #044e2f 80%);
    color:whitesmoke
}


 h1{
    margin: 20px;
    text-shadow: 4px 1px 2px rgba(0,0,0,0.59);
    font-size: 30px;
    color:white;
}
.sidebar h1{
    color:rgb(7, 48, 48);
}
.siderbar h3{
    color: rgb(14, 134, 44);
    margin-bottom: 20px;
    
}
#profile{
    width:30%;
    height: 30%;
    border-radius: 50%;
    border:2px solid rgb(19, 75, 85);
    margin-top: 15px;
    
}
nav{
    display: flex;
}
.imageprofile{
    text-align: center; 
}
p img{
    width: 15px;
    height: 15px;
    margin-left: 30px;
}
p span{
    margin-left: 10px;
    font-size: 15px;

    
}
.containicon{
    margin: 25px;
    padding: 10px;
}
#containtext{
    background: linear-gradient(179deg,#293529 0%, #054b59 80%);
    width: 80%;
    height: 50vh;
    margin: 120px ;
    padding: 30px;
    margin-left: 22%; 
    border-top: 5px double #6e6d6d;
    border-right: 5px double#6e6d6d;
    border-bottom: 5px double #6e6d6d;
    border-left: 5px double#6e6d6d;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family:cursive
       
   }
#containtext p{
   margin-top: 10px;
}

.about{
    background-color:teal ;
    width: 30%;
    padding: 15px;
   border-radius: 20px;
   margin-left: 32%;
   margin-top: 30px;

}

.containmenu{
    background: linear-gradient(99deg,#0a444c 0%, #677570 80%);
}

    .menu{
        background: linear-gradient(99deg,#0c282c 0%, #044e2f 80%);
        padding: 15px;
        clip-path: polygon(0 0, 39% 0, 46% 100%, 0 100%);
    }
    .menu a:hover{
        background-color:teal;
        padding: 10px;
    }
    div a{
        margin: 10px;
        font-family: sans-serif;
         color: white;
         text-transform: uppercase;
         text-decoration: none;
         font-size: 15px;
    }
    .active{
        background-color: teal;
        padding: 10px;
    }

    #download{
        background-color: cornflowerblue;
        padding: 15px;
        width: auto;
        border-radius: 5px;
        float: right;
        margin-bottom: 10px;

    }


    
    .containpicture{
        display: flex;
        width: 20%;
        height: 20vh;
        flex-wrap: wrap;
    }


.context{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgba(235, 240, 240, 0.887);
    padding: 50px;
}
.context h1{
    color: rgb(50, 243, 11);
  
    
}

.education,
.experience,
.happies,
.skill,
.personal-data,
.reference{
    width: 30%;
    background-color: rgb(253, 245, 245);
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    font-family:sans-serif;
    border-top: 15px groove  rgb(4, 112, 80);
    margin-bottom: 50px;

}
.contact{
    background-color: teal;
    padding: 10px;
    width: 50%;
    margin-left: 23%;
    border-radius: 20px;
    margin-top: 20px;
}

footer{
    background-color: rgb(39, 37, 37);
    padding: 10vh;
    color: white;
   
}
.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: sans-serif;
}
.icon h3{
    color: white;
}
hr{
    border: 1px solid ;
}
@media(max-width:700px){
    body{
        flex-wrap: wrap;
        text-align: center;
        font-size: small;

    }
    .containmenu a{
        display: flex;
        flex-wrap: wrap;
    }
    h1{
        font-size: smaller;
    }
    .containtext{
        width: auto;
        height: auto;
        
        

    }
    .about{
        width: 70%;
        margin: auto;
        padding:5px;
        font-size: smaller;

    }
    #download{
        font-size: smaller;
    }
    
    

}
